In [1]:
import mariadb
import sys

In [2]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="304257072",
        host="localhost",
        port=3306,
        database="demo"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [3]:
cur.execute(
    "SELECT * FROM Book")

In [4]:
for item in cur:
    print(item)

(2, 'MariaDB Book2')
(3, 'MariaDB Book3')
(4, 'MariaDB Book4')
(5, 'MariaDB Book5')

In [5]:
cur.execute("SHOW DATABASES")
#print all databases
for db in cur:
    print(db)

('demo',)
('information_schema',)
('mysql',)
('performance_schema',)

In [6]:
cur.execute("CREATE TABLE student (id INT, name VARCHAR(255))")

In [7]:
cur.execute("SHOW TABLES")
for table in cur:
    print(table)

('Book',)
('student',)

In [8]:
sql = "INSERT INTO student(id,name) VALUES(01, 'John')"

In [9]:
cur.execute(sql)

In [10]:
conn.commit()
print(cur.rowcount, "Record Inserted")

1 Record Inserted

In [11]:
cur.execute(
    "SELECT * FROM student")
for item in cur:
    print(item)

(1, 'John')

In [12]:
conn.close()